@import '~antd/dist/antd.css';

.main {
  height: 100vh;
}

.main__content {
  height: inherit;
  background: #f3f3f3;

}

.header {
  background: #3484b9;
  font-size: 30px;
  font-weight: 700;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding:0 10px;
}

.menu {
  background: #3484b9;
  padding: 0px 10px;
}

.content {
  padding: 18px;
  overflow: auto;
  background: #c5c5c5;
}

.footer {
  background: #3484b9;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  z-index: 999;
}
